.Header {
    position: fixed;
    z-index: 99;
    top: 0;
    max-height: 70px;
    padding: 1.2rem;
    width: 100vw;
    display: grid;
    grid-template-areas: "logo nav";
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .Nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(8, auto);
    align-items: center;
    justify-items: center;
  }
  .Nav a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    transition: 0.5s;
    text-decoration: none;
  }
  .Nav a:hover {
    color: #34feaa;
    cursor: pointer;
  }
  .Nav button {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: 70ms;
  }
  
  .Nav button:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
  }
  .Burger:focus{
      outline: none;
  }
  
  .Burger {
    display: none;
    grid-area: burger;
    margin: 0 20px 0 0;
    padding: 0;
    justify-self: end;
    font-size: 40px;
    border: none;
    background: none;
    outline: none;
    text-decoration: none;
    transition: 0.1s;
  }
  .Burger:active {
    transform: scale(1.2);
  }
  
  @media (max-width: 700px) {
    .Header {
      grid-template-areas: "logo burger" "nav nav";
    }
    .Nav {
      grid-template-rows: repeat(6, auto);
      grid-template-columns: none;
      grid-row-gap: 20px;
  
      padding: 30px 0 30px;
      background: rgba(52, 254, 170, 0.95);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .Nav a:hover {
        color: #282c34;
      }
    .Burger {
      display: inline;
    }
  }
  
  .NavAnimation-enter {
    opacity: 0;
    transform: scale(0.5);
  }
  .NavAnimation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 350ms, transform 350ms;
  }
  .NavAnimation-exit {
    opacity: 1;
  }
  .NavAnimation-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 350ms, transform 350ms;
  }
  